<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/mobileCss", "~/Content/css")    
    <style type="text/css">
        .ui-page {
            background: #D3D3D3;
        }
    </style>
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript"
            src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="1105198962" data-redirecturi="http://localhost:35234/" charset="utf-8"></script> 
</head>
<body style="color:cornflowerblue">
    <div data-role="page" data-theme="b">
        <div data-role="header">
            @if (IsSectionDefined("Header")) {
            @RenderSection("Header")
            } else {
            <h1>@ViewBag.Title</h1>
            @Html.Partial("_LoginPartial")
            }
        </div>
        <div data-role="content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - 红林电商网</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @*<script>
            $(document).on("mobileinit", function () {
                $.mobile.ajaxEnabled = false;
            });
    </script>*@
 
    @Scripts.Render("~/bundles/jquerymobile")
    @RenderSection("scripts", required: false)
</body>
</html>