<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/mobilecss", "~/Content/css")    
    @Scripts.Render("~/bundles/modernizr")
    @*<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>*@
</head>
<body style="color:cornflowerblue">
    <div data-role="page" data-theme="a">
        <div data-role="header">
            <h1>@ViewBag.Title</h1>
            @if (IsSectionDefined("Header")) {
            @RenderSection("Header")
            }
            else {                
                    <div data-role="navbar">
                        <ul style="list-style:none">
                            <li><a href="/Home/Index">首页</a></li>                                                  
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>                                      
            }
        </div>
        <div data-role="content" class="ui-content">
            @RenderBody()
            <hr />
            <hr />
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - 红林电商网</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery") 
    @Scripts.Render("~/bundles/jquerymobile")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript"
        src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="1105198962" data-redirecturi="http://localhost:35234/" charset="utf-8"></script> 